<!DOCTYPE html>
<html>
<head>
    <title>Siege Randomizer</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <img class="head-image" src="../static/r6_icon.jpg">
    <section class="button-section">
        <button class="button" onclick="generate('Attacker')">Attackers</button>
        <button class="button" onclick="generate('Defender')">Defenders</button>
        <button class="button" onclick="generate('All')">All Operators</button>
    </section>
    <div id="result"></div>
</body>
<script>
  function generate(flag) {
    let url;
    if(flag == 'Attacker')
        url = '/generate_attacker';
    else if(flag == 'Defender')
        url = '/generate_defender';
    else
        url = '/generate_all';
    fetch(url)
        .then(response => response.json())
        .then(data => {
            var resultDiv = document.getElementById("result");
            resultDiv.innerHTML = "";

            // Create the operator table
            var operatorTable = document.createElement("table");
            operatorTable.id = "operator-table";
            var operatorTbody = document.createElement("tbody");

            // Create the operator and gadget data row
            var dataRow = document.createElement("tr");

            // Operator
            var operatorCell = document.createElement("td");
            var operatorNameImage = document.createElement("img");
            operatorNameImage.src = data["Operator"]["Image"];
            operatorNameImage.height = 200;
            operatorCell.appendChild(operatorNameImage);

            var operatorNameText = document.createElement("div");
            operatorNameText.textContent = data["Operator"]["Name"];
            operatorNameText.style.verticalAlign = "bottom";
            operatorCell.appendChild(operatorNameText);

            dataRow.appendChild(operatorCell);

            // Gadget
            var gadgetCell = document.createElement("td");
            var gadgetNameImage = document.createElement("img");
            gadgetNameImage.src = data["Gadget"]["Image"];
            gadgetNameImage.addEventListener("load", function(){
                if (gadgetNameImage.height >= 200) {
                    gadgetNameImage.height = 200;
                }
            });
            gadgetCell.appendChild(gadgetNameImage);
            
            var gadgetNameText = document.createElement("div");
            gadgetNameText.textContent = data["Gadget"]["Name"];
            
            gadgetCell.appendChild(gadgetNameText);
            
            dataRow.appendChild(gadgetCell);

            operatorTbody.appendChild(dataRow);
            operatorTable.appendChild(operatorTbody);

            var weaponsTable = document.createElement("table");
            weaponsTable.id = "weapon-table";
            var weaponsTbody = document.createElement("tbody");

            var headers = ["Weapon", "Scope", "Barrel", "Under Barrel"];

            var headerRow = document.createElement("tr");
            for (var i = 0; i < headers.length; i++) {
                var th = document.createElement("th");
                th.textContent = headers[i];
                headerRow.appendChild(th);
            }
            weaponsTbody.appendChild(headerRow);

            var weapons = ["Primary", "Secondary"];
            for (var i = 0; i < weapons.length; i++) {
                var weaponRow = document.createElement("tr");

                var weaponNameCell = document.createElement("td");
                var weaponNameImage = document.createElement("img");
                weaponNameImage.src = data[weapons[i]]["Image"];
                weaponNameImage.height = 140;
                weaponNameCell.appendChild(weaponNameImage);

                var weaponNameText = document.createElement("div");
                weaponNameText.textContent = data[weapons[i]]["Name"];
                weaponNameText.style.verticalAlign = "bottom";
                weaponNameCell.appendChild(weaponNameText);

                weaponRow.appendChild(weaponNameCell);

                var attributes = ["Scope", "Barrel", "Under Barrel"];
                for (var j = 0; j < attributes.length; j++) {
                    var attributeCell = document.createElement("td");

                    var attributeImage = document.createElement("img");
                    attributeImage.src = data[weapons[i]][attributes[j]]["Image"];
                    if(attributeImage.height >= 140){
                        attributeImage.height = 140;
                    }
                    attributeCell.appendChild(attributeImage);

                    var attributeName = document.createElement("div");
                    attributeName.textContent = data[weapons[i]][attributes[j]]["Name"];
                    attributeName.style.verticalAlign = "bottom";
                    attributeCell.appendChild(attributeName);

                    weaponRow.appendChild(attributeCell);
                }

                weaponsTbody.appendChild(weaponRow);
            }

            weaponsTable.appendChild(weaponsTbody);

            // Append both tables to the resultDiv
            resultDiv.appendChild(operatorTable);
            resultDiv.appendChild(weaponsTable);
        });
}
</script>

</html>
